@import "tailwindcss";

@source "../";

@theme inline {
  --color-primary: #1F3D2B;
  --color-accent: #C89B3C;
  --color-secondary: #8B5E3C;
  --color-dark: #2A2A2A;
  --color-background: #F5F2ED;
}

body {
  background: var(--color-background);
  color: var(--color-dark);
  font-family: 'Roboto', sans-serif;
}

.home-welcome {
  white-space: pre-wrap;
}